<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>アゼルバイジャン</key>
		<string>994</string>
		<key>アッセンション島</key>
		<string>247</string>
		<key>アフガニスタン</key>
		<string>93</string>
		<key>アメリカンサモア</key>
		<string>1</string>
		<key>アルジェリア</key>
		<string>213</string>
		<key>アルゼンティン</key>
		<string>54</string>
		<key>アルバ</key>
		<string>297</string>
		<key>アルバニア</key>
		<string>355</string>
		<key>アルメニア</key>
		<string>374</string>
		<key>アンギラ</key>
		<string>1</string>
		<key>アンゴラ</key>
		<string>244</string>
		<key>アンティグアバーブーダ</key>
		<string>1</string>
		<key>アンドラ</key>
		<string>376</string>
		<key>オーストラリア</key>
		<string>61</string>
		<key>オーストリア</key>
		<string>43</string>
	</dict>
	<key>B</key>
	<dict>
		<key>バハマ</key>
		<string>1</string>
		<key>バハレーン</key>
		<string>973</string>
		<key>バミューダ</key>
		<string>1</string>
		<key>バルバドス</key>
		<string>1</string>
		<key>バングラディッシュ</key>
		<string>880</string>
		<key>バージン諸島（英領）</key>
		<string>1</string>
		<key>ブラジル</key>
		<string>55</string>
		<key>ブルガリア</key>
		<string>359</string>
		<key>ブルキナファソ</key>
		<string>226</string>
		<key>ブルネイ</key>
		<string>673</string>
		<key>ブルンジ</key>
		<string>257</string>
		<key>ブータン</key>
		<string>975</string>
		<key>ベナン</key>
		<string>229</string>
		<key>ベラルーシ</key>
		<string>375</string>
		<key>ベリーズ</key>
		<string>501</string>
		<key>ベルギー</key>
		<string>32</string>
		<key>ボスニアヘルツェゴヴィナ</key>
		<string>387</string>
		<key>ボツワナ</key>
		<string>267</string>
		<key>ボネール島、ユースタティウス、サバ</key>
		<string>599</string>
		<key>ボリヴィア</key>
		<string>591</string>
	</dict>
	<key>C</key>
	<dict>
		<key>カナダ</key>
		<string>1</string>
		<key>カボヴェルテ</key>
		<string>238</string>
		<key>カメルーン</key>
		<string>237</string>
		<key>カンボジア</key>
		<string>855</string>
		<key>キプロス</key>
		<string>357</string>
		<key>キュラソー</key>
		<string>599</string>
		<key>キューバ</key>
		<string>53</string>
		<key>クック諸島</key>
		<string>682</string>
		<key>クリスマス島</key>
		<string>61</string>
		<key>クロアチア</key>
		<string>385</string>
		<key>ケイマン諸島</key>
		<string>1</string>
		<key>ココス諸島</key>
		<string>61</string>
		<key>コスタリカ</key>
		<string>506</string>
		<key>コモロ</key>
		<string>269</string>
		<key>コロンビア</key>
		<string>57</string>
		<key>コンゴ</key>
		<string>242</string>
		<key>コンゴー民主共和国（旧ザイール）</key>
		<string>243</string>
		<key>チェコ</key>
		<string>420</string>
		<key>チャド</key>
		<string>235</string>
		<key>チリ</key>
		<string>56</string>
		<key>中国</key>
		<string>86</string>
		<key>中央アフリカ共和国</key>
		<string>236</string>
	</dict>
	<key>D</key>
	<dict>
		<key>ジブティ</key>
		<string>253</string>
		<key>ディエゴガルシア</key>
		<string>246</string>
		<key>デンマーク</key>
		<string>45</string>
		<key>ドミニカ</key>
		<string>1</string>
		<key>ドミニカ共和国</key>
		<string>1</string>
	</dict>
	<key>E</key>
	<dict>
		<key>エクアドル</key>
		<string>593</string>
		<key>エジプト</key>
		<string>20</string>
		<key>エストニア</key>
		<string>372</string>
		<key>エチオピア</key>
		<string>251</string>
		<key>エリトリア</key>
		<string>291</string>
		<key>エルサルヴァドル</key>
		<string>503</string>
		<key>東ティモール</key>
		<string>670</string>
		<key>赤道ギニア</key>
		<string>240</string>
	</dict>
	<key>F</key>
	<dict>
		<key>フィンランド</key>
		<string>358</string>
		<key>フィージー</key>
		<string>679</string>
		<key>フェアロ諸島</key>
		<string>298</string>
		<key>フォークランド諸島</key>
		<string>500</string>
		<key>フランス</key>
		<string>33</string>
		<key>フランス領アンティル（グアドループ島）</key>
		<string>590</string>
		<key>フランス領ギアナ</key>
		<string>594</string>
		<key>フランス領ポリネシア</key>
		<string>689</string>
	</dict>
	<key>G</key>
	<dict>
		<key>ガイアナ</key>
		<string>592</string>
		<key>ガボン</key>
		<string>241</string>
		<key>ガンビア</key>
		<string>220</string>
		<key>ガーナ</key>
		<string>233</string>
		<key>ギニア</key>
		<string>224</string>
		<key>ギニアビサオ</key>
		<string>245</string>
		<key>ギリシャ</key>
		<string>30</string>
		<key>グアテマラ</key>
		<string>502</string>
		<key>グアデルーペ</key>
		<string>590</string>
		<key>グアム</key>
		<string>1</string>
		<key>グリーンランド</key>
		<string>299</string>
		<key>グルジア</key>
		<string>995</string>
		<key>グレナダ</key>
		<string>1</string>
		<key>ジブラルタル</key>
		<string>350</string>
		<key>ドイツ</key>
		<string>49</string>
	</dict>
	<key>H</key>
	<dict>
		<key>ハイティ</key>
		<string>509</string>
		<key>ハンガリー</key>
		<string>36</string>
		<key>ホンデュラス</key>
		<string>504</string>
		<key>香港</key>
		<string>852</string>
	</dict>
	<key>I</key>
	<dict>
		<key>アイスランド</key>
		<string>354</string>
		<key>アイルランド</key>
		<string>353</string>
		<key>イスラエル</key>
		<string>972</string>
		<key>イタリア</key>
		<string>39</string>
		<key>イラク</key>
		<string>964</string>
		<key>イラン</key>
		<string>98</string>
		<key>インド</key>
		<string>91</string>
		<key>インドネシア</key>
		<string>62</string>
		<key>コートジボワール</key>
		<string>225</string>
	</dict>
	<key>J</key>
	<dict>
		<key>ジャマイカ</key>
		<string>1</string>
		<key>ヨルダン</key>
		<string>962</string>
		<key>日本</key>
		<string>83</string>
	</dict>
	<key>K</key>
	<dict>
		<key>カザフスタン</key>
		<string>7</string>
		<key>キリバス</key>
		<string>686</string>
		<key>キルギス</key>
		<string>996</string>
		<key>クウェイト</key>
		<string>965</string>
		<key>ケニア</key>
		<string>254</string>
		<key>北朝鮮</key>
		<string>850</string>
		<key>韓国</key>
		<string>82</string>
	</dict>
	<key>L</key>
	<dict>
		<key>ラオス</key>
		<string>856</string>
		<key>ラトヴィア</key>
		<string>371</string>
		<key>リトアニア</key>
		<string>370</string>
		<key>リヒテンシュタイン</key>
		<string>423</string>
		<key>リビア</key>
		<string>218</string>
		<key>リベリア</key>
		<string>231</string>
		<key>ルクセンブルグ</key>
		<string>352</string>
		<key>レソト</key>
		<string>266</string>
		<key>レバノン</key>
		<string>961</string>
	</dict>
	<key>M</key>
	<dict>
		<key>マカオ</key>
		<string>853</string>
		<key>マケドニア</key>
		<string>389</string>
		<key>マダガスカル</key>
		<string>261</string>
		<key>マヨット</key>
		<string>269</string>
		<key>マラウイ</key>
		<string>265</string>
		<key>マリ</key>
		<string>223</string>
		<key>マルタ</key>
		<string>356</string>
		<key>マルチニーク島</key>
		<string>596</string>
		<key>マレーシア</key>
		<string>60</string>
		<key>マーシャル諸島</key>
		<string>692</string>
		<key>ミクロネシア連邦</key>
		<string>691</string>
		<key>ミャンマー</key>
		<string>95</string>
		<key>メキシコ</key>
		<string>52</string>
		<key>モザンビーク</key>
		<string>258</string>
		<key>モナコ</key>
		<string>377</string>
		<key>モルディブ</key>
		<string>960</string>
		<key>モルドヴァ</key>
		<string>373</string>
		<key>モロッコ</key>
		<string>212</string>
		<key>モンゴル</key>
		<string>976</string>
		<key>モンテネグロ</key>
		<string>382</string>
		<key>モントセルラット</key>
		<string>1</string>
		<key>モーリシャス</key>
		<string>230</string>
		<key>モーリタニア</key>
		<string>222</string>
	</dict>
	<key>N</key>
	<dict>
		<key>オランダ</key>
		<string>31</string>
		<key>ナイジェリア</key>
		<string>234</string>
		<key>ナウル</key>
		<string>674</string>
		<key>ニウェ</key>
		<string>683</string>
		<key>ニカラグア</key>
		<string>505</string>
		<key>ニジェール</key>
		<string>227</string>
		<key>ニューカレドニア</key>
		<string>687</string>
		<key>ニュージーランド</key>
		<string>64</string>
		<key>ネパール</key>
		<string>977</string>
		<key>ノルウェー</key>
		<string>47</string>
		<key>ノーフォーク島</key>
		<string>672</string>
		<key>北マリアナ諸島（サイパン、ロタ、ティニアン）</key>
		<string>1</string>
	</dict>
	<key>O</key>
	<dict>
		<key>オマーン</key>
		<string>968</string>
	</dict>
	<key>P</key>
	<dict>
		<key>パキスタン</key>
		<string>92</string>
		<key>パナマ</key>
		<string>507</string>
		<key>パプアニューギニア</key>
		<string>675</string>
		<key>パラオ</key>
		<string>680</string>
		<key>パラグアイ</key>
		<string>595</string>
		<key>パレスチナ</key>
		<string>970</string>
		<key>フィリピン</key>
		<string>63</string>
		<key>プエルトルコ</key>
		<string>1</string>
		<key>ペルー</key>
		<string>51</string>
		<key>ポルトガル</key>
		<string>351</string>
		<key>ポーランド</key>
		<string>48</string>
	</dict>
	<key>Q</key>
	<dict>
		<key>カタル</key>
		<string>974</string>
	</dict>
	<key>R</key>
	<dict>
		<key>ルワンダ</key>
		<string>250</string>
		<key>ルーマニア</key>
		<string>40</string>
		<key>レユニオン</key>
		<string>262</string>
		<key>ロシア</key>
		<string>7</string>
	</dict>
	<key>S</key>
	<dict>
		<key>サウジアラビア</key>
		<string>966</string>
		<key>サモア</key>
		<string>685</string>
		<key>サントメプリンシペ</key>
		<string>239</string>
		<key>サンピエールミクロン島</key>
		<string>508</string>
		<key>サンマリノ</key>
		<string>378</string>
		<key>シエラレオーネ</key>
		<string>232</string>
		<key>シリア</key>
		<string>963</string>
		<key>シンガポール</key>
		<string>65</string>
		<key>スイス</key>
		<string>41</string>
		<key>スウェーデン</key>
		<string>46</string>
		<key>スペイン</key>
		<string>34</string>
		<key>スリナム</key>
		<string>597</string>
		<key>スリランカ</key>
		<string>94</string>
		<key>スロヴァキア</key>
		<string>421</string>
		<key>スロヴェニア</key>
		<string>386</string>
		<key>スワジランド</key>
		<string>268</string>
		<key>スーダン</key>
		<string>249</string>
		<key>セイシェル</key>
		<string>248</string>
		<key>セネガル</key>
		<string>221</string>
		<key>セルビア</key>
		<string>381</string>
		<key>セントキットス（セントクリストファー）ネイビズ</key>
		<string>1</string>
		<key>セントヘレナ</key>
		<string>290</string>
		<key>セントマーティン</key>
		<string>1</string>
		<key>セントルシア</key>
		<string>1</string>
		<key>セントヴィンセントおよびグレナディーン諸島</key>
		<string>1</string>
		<key>ソマリア</key>
		<string>252</string>
		<key>ソロモン諸島</key>
		<string>677</string>
		<key>南アフリカ</key>
		<string>27</string>
		<key>南スーダン</key>
		<string>211</string>
	</dict>
	<key>T</key>
	<dict>
		<key>タイ</key>
		<string>66</string>
		<key>タジキスタン</key>
		<string>992</string>
		<key>タンザニア</key>
		<string>255</string>
		<key>タークスカイコス諸島</key>
		<string>1</string>
		<key>チュニジア</key>
		<string>216</string>
		<key>ツバル</key>
		<string>688</string>
		<key>トケラウ諸島</key>
		<string>690</string>
		<key>トリスタンダクーニャ</key>
		<string>290</string>
		<key>トリニダッドトバゴ</key>
		<string>1</string>
		<key>トルクメニスタン</key>
		<string>993</string>
		<key>トルコ</key>
		<string>90</string>
		<key>トンガ</key>
		<string>676</string>
		<key>トーゴー</key>
		<string>228</string>
		<key>台湾</key>
		<string>886</string>
	</dict>
	<key>U</key>
	<dict>
		<key>アメリカ</key>
		<string>1</string>
		<key>アラブ首長国連邦</key>
		<string>971</string>
		<key>イギリス</key>
		<string>44</string>
		<key>ウガンダ</key>
		<string>256</string>
		<key>ウクライナ</key>
		<string>380</string>
		<key>ウズベキスタン</key>
		<string>998</string>
		<key>ウルグアイ</key>
		<string>598</string>
		<key>バージン諸島（米領）</key>
		<string>1</string>
	</dict>
	<key>V</key>
	<dict>
		<key>バチカン</key>
		<string>39</string>
		<key>バヌアツ</key>
		<string>678</string>
		<key>ベトナム</key>
		<string>84</string>
		<key>ベネズエラ</key>
		<string>58</string>
	</dict>
	<key>W</key>
	<dict>
		<key>ウオリスフチュナ</key>
		<string>681</string>
	</dict>
	<key>X</key>
	<dict/>
	<key>Y</key>
	<dict>
		<key>イエメン</key>
		<string>967</string>
	</dict>
	<key>Z</key>
	<dict>
		<key>ザンビア</key>
		<string>260</string>
		<key>ジンバブエ</key>
		<string>263</string>
	</dict>
</dict>
</plist>
